{{ define "main" }}

<section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h2>OUR PLANET’S FIRST</h2>
        <h3>ALL-STAR TEAM FOR VENTURE HUMANITY</h3>
        <a href="#" class="btn btn-secondary mb-5">GO SUPERNOVA</a>
        <p class="mb-5">we shine brighter together</p>
      </div>
      <div class="col-lg-9">
        <div class="banner">
          <img src="images/swirl-graphic.png" alt="banner">
        </div>
      </div>
      <div class="col-lg-12">
        <h1 class="text-center">ONENESS AT WORK™</h1>
      </div>
    </div>
  </div>
</section>

<section class="section section-ethos text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h1>OUR <br>
          ETHOS</h1>
        <h2>“What if the world’s top
          founders, who previously competed, consciously choose to collaborate as one all-star team?”</h2>
        <h3>BARRY STAMOS, CO-FOUNDER OF SUPERNOVA</h3>
      </div>
    </div>
  </div>
</section>

<section class="section about-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <img src="images/supernova-circle.png" alt="images">
      </div>
      <div class="col-lg-6">
        <h2>A <span>spark</span> that goes SUPERNOVA</h2>
        <h3>After four billion years of evolution, humanity is finally figuring out that collaboration is key. Given
          that Founders are among the most powerful creators on the planet, shouldn’t we?
        </h3>
        <p>Founders dream and do impossibilities. Founders are the MVPs of our species. Founders build the future they
          wish to see, free us from the past by innovating alternative realities, disrupt traditional trillion dollar
          industries and solve planetary problems.
        </p>
        <p>Founders dream and do impossibilities. Founders are the MVPs of our species. Founders build the future they
          wish to see, free us from the past by innovating alternative realities, disrupt traditional trillion dollar
          industries and solve planetary problems. </p>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/star-icon.png" alt="">
          <h2>ONE VISION</h2>
          <p> Awakening <br> Oneness at Work™C</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/star-icon.png" alt="">
          <h2>ONE MISSION
          </h2>
          <p>
            To shine <br> brighter together </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/star-icon.png" alt="">
          <h2>ONE PURPOSE</h2>
          <p>
            A quantam leap <br>in the evolution of business </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h2>TEAM</h2>
        <h3>
          ALL-STAR FOUNDERS</h3>
        <p class="mb-4">Supernova is the world’s first all-star founder community open-sourcing superpowers, wisdom,
          networks and
          equity.</p>
        <a href="#" class="btn btn-primary mb-5">GO SUPERNOVA</a>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="wraper bg-primary">
          <div class="cards d-flex justify-content-space-between">
            <div class="card">
              <img src="images/founders-icon.png" alt="">
              <h3>Top founders of high-growth companies advise each other.
              </h3>
            </div>
            <div class="card">
              <img src="images/founders-icon-2.png" alt="">
              <h3>A win for one is a win for all. Shared ownership unlocks liquidity, diversification, and superior
                returns.
              </h3>

            </div>
            <div class="card">
              <img src="images/founders-icon-3.png" alt="">
              <h3>We believe in playing infinite games for the greater good. </h3>
            </div>
          </div>
          <p class="text-center text-uppercase fw-bold mb-0">WE ARE A CONSCIOUS COOPERATIVE OF FOUNDERS INVESTED IN EACH
            OTHER’S SUCCESS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-section py-5">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="section-title">
          <div class="title">
            <h2>meet the superstars</h2>
            <p>Supernova is the world’s first all-star founder community open-sourcing superpowers, wisdom, networks and
              equity.</p>
          </div>
          <a href="#" class="btn btn-outline-primary mb-5">GO SUPERNOVA</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="images/team-thumb-1.png" alt="thumb">
          <h3>Top founders of high-growth companies advise each other.
          </h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, minus.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>services</h2>
          <h3>ALL-STAR FOUNDERS</h3>
        </div>

      </div>
      <div class="col-lg-6">
        <span>we back</span>
        <h2>founder</h2>
        <h3>with founders <br> as trusted <br> advisors</h3>
        <a href="#" class="btn btn-primary mb-5">LETS SEE</a>
      </div>
    </div>
    <div class="row gy-4">
      <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, labore.</p>
      </div>
      <div class="col-lg-6">
        <div class="card card-one">
          <img src="images/advisory-icon.png" alt="icon">
          <h2>advisony</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing </p>
          <h3>Top founders of <br> high-growth companies advise each other.
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="getlit-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>letsgetlit</h2>
          <h3>ALL-STAR <span>tacknology</span> FOUNDERS</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <span>1.</span>
          <h2>one</h2>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quidem?</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>portfolio</h2>
          <h3>ALL-STAR FOUNDERS</h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/port-image-1.png" alt="images">
          <div class="card-body p-0">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="text-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="author-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="text-capitalize">what they are saying</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="author-content">
            <div class="logo">
              <img src="images/author-1.png" alt="author">
            </div>
            <div class="detalse">
              <h2>lorem <br> lorem </h2>
              <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h3>
              <a href="#">lorem</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="logo">
          <img src="images/logo.png" alt="logo">
        </div>
        <span>our messeon</span>
        <h2 class="mb-5">OUR PLANET’S FIRST</h2>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>lorem</span> </p>
        <a href="#" class="btn btn-secondary mb-5">GO SUPERNOVA</a>

      </div>
    </div>
  </div>
</section>
<!-- Swiper Slider -->
<!-- <div class="swiper">
  <i class="fa-solid fa-angle-left swiper-prev"></i>
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <i class="fa-solid fa-angle-right swiper-next"></i>
  <div class="swiper-pagination"></div>
</div> -->

{{ end }}