{{ define "main" }}

<section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="section-content">
          <h1>OUR PLANET’S FIRST</h1>
          <h2>ALL-STAR TEAM FOR VENTURE HUMANITY</h2>
          <a href="#" class="btn btn-secondary mb-3 mb-sm-5">GO SUPERNOVA</a>
          <p class="mb-0 mb-sm-5">we shine brighter together</p>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="banner">
          <img src="images/swirl-graphic.png" alt="banner">
        </div>
      </div>
      <div class="col-lg-12">
        <h1 class="text-center">CONNECTEDNESS AT WORK™</h1>
      </div>
    </div>
  </div>
</section>

<section class="section section-ethos text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="section-content">
          <h1>OUR <br>
            ETHOS</h1>
          <h2>“What if the world’s top
            founders, who previously competed, consciously choose to collaborate as one all-star team?”</h2>
          <p>BARRY STAMOS, CO-FOUNDER OF SUPERNOVA</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section about-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <img src="images/supernova-circle.png" alt="images">
      </div>
      <div class="col-lg-6">
        <div class="section-content">
          <h2>A <span>spark</span> that goes SUPERNOVA</h2>
          <h3>After four billion years of evolution, humanity is finally figuring out that collaboration is key. Given
            that Founders are among the most powerful creators on the planet, shouldn’t we?
          </h3>
          <p>Founders dream and do impossibilities. Founders are the MVPs of our species. Founders build the future they
            wish to see, free us from the past by innovating alternative realities, disrupt traditional trillion dollar
            industries and solve planetary problems.
          </p>
          <p>Founders dream and do impossibilities. Founders are the MVPs of our species. Founders build the future they
            wish to see, free us from the past by innovating alternative realities, disrupt traditional trillion dollar
            industries and solve planetary problems. </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/star-icon.png" alt="">
          <h2>ONE VISION</h2>
          <p> Awakening <br> Oneness at Work™C</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/star-icon.png" alt="">
          <h2>ONE MISSION
          </h2>
          <p>
            To shine <br> brighter together </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="images/star-icon.png" alt="">
          <h2>ONE PURPOSE</h2>
          <p>
            A quantam leap <br>in the evolution of business </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feature-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-content">
          <h2>TEAM</h2>
          <h3>
            ALL-STAR FOUNDERS</h3>
          <p class="mb-4">Supernova is the world’s first all-star founder community open-sourcing superpowers, wisdom,
            networks and
            equity.</p>
          <a href="#" class="btn btn-primary mb-5">GO SUPERNOVA</a>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="wraper bg-primary">
          <div class="cards d-md-flex justify-content-space-between">
            <div class="card">
              <img src="images/founders-icon.png" alt="">
              <h3>Top founders of high-growth companies advise each other.
              </h3>
            </div>
            <div class="card">
              <img src="images/founders-icon-2.png" alt="">
              <h3>A win for one is a win for all. Shared ownership unlocks liquidity, diversification, and superior
                returns.
              </h3>

            </div>
            <div class="card">
              <img src="images/founders-icon-3.png" alt="">
              <h3>We believe in playing infinite games for the greater good. </h3>
            </div>
          </div>
          <p class="text-center text-uppercase fw-bold mb-0">WE ARE A CONSCIOUS COOPERATIVE OF FOUNDERS INVESTED IN
            EACH
            OTHER’S SUCCESS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-section py-5">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="section-title">
          <div class="title">
            <h2>meet the superstars</h2>
            <p>Supernova is the world’s first all-star founder community open-sourcing superpowers, wisdom, networks and
              equity.</p>
          </div>
          <a href="#" class="btn btn-outline-primary">APPLY TO JOIN US</a>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <img src="images/team-thumb-1.png" alt="thumb">
          <h3>MARKETING <br> ALL-STAR</h3>
          <p>Barry Stamos</p>
          <ul>
            <li>Co-founder at Supernova</li>
            <li>Co-founder at 1heart</li>
            <li>Visionary Entrepreneur (3 Exits)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>services</h2>
          <h3>Where we shine the brightest.</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-content">
          <span>we back</span>
          <h2>founder</h2>
          <h3>WITH FOUNDERS <br> AS TRUSTED <br> ADVISORS</h3>
          <a href="#" class="btn btn-primary btn-lg mb-lg-5">LET’S TALK</a>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-lg-12">
        <p class="mt-5 text-center fs-3">Avoid the black holes and dark matter as we light your way to going Supernova.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="card card-one">
          <img src="images/advisory-icon.png" alt="icon">
          <h2>advisony</h2>
          <p>We are exited founders <br>
            sharing a guiding light. </p>
          <h3>How to sustain <br>
            success in warp speed?
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-two">
          <img src="images/people-icon.png" alt="icon">
          <h2>PEOPLE </h2>
          <p>We play interim roles or help <br> refer permanent placements. </p>
          <h3>How to recruit
            <br>
            and secure top talent?
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-three">
          <img src="images/spark-icon.png" alt="icon">
          <h2>SPARK </h2>
          <p>We deliver time-sensitive projects to spark funding, sales, marketing and growth.</p>
          <h3>How to achieve
            the next milestone?
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-four">
          <img src="images/m&a-icon.png" alt="icon">
          <h2>M&A </h2>
          <p>We help you avoid black holes and harvest all the energy you deserve.</p>
          <h3>How to accelerate my
            liquidity, exit or IPO?
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="getlit-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>LET’S GET LIT
          </h2>
          <h3>We shine <span>brighter</span> together.</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>I AM
          </span>
          <h2>ONE</h2>
          <h3>Go Supernova to join
            the Founder community</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>I AM
          </span>
          <h2>CONNECTED</h2>
          <h3>All-star advisory services and deal flow ecosystem</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <span>I AM
          </span>
          <h2>ABUNDANT</h2>
          <h3>We shine brighter together</h3>
          <a href="#" class="btn btn-secondary mt-5">ABUNDANT</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>portfolio</h2>
          <h3>We are lighting up the world by manifesting many missions.</h3>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="images/port-image-1.png" alt="images">
          <div class="card-body p-0">
            <h2 class="card-title">Tuft & Needle</h2>
            <h3>Sleep awakens new possibilities</h3>
            <p class="card-text">We are founder advisors to TN.com who bootstrapped to $170M in yearly revenues and
              merged with Serta Simmons.</p>
            <a href="#" class="text-primary">tn.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="author-section">
  <div class="container">
    <div class="row gy-5 gx-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2 class="text-capitalize">What they are saying</h2>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-content">
            <img src="images/quote.png" class="mb-0" alt="quote">
            <p class="card-text">
              We are joining forces as founders for a better world.”
            </p>
          </div>
          <div class="author-content">
            <div class="logo">
              <img src="images/author-1.png" alt="author">
            </div>
            <div class="details">
              <h2>Kwiri <br> Yang </h2>
              <ul class="list-unstyled">
                <li>FOUNDER AT </li>
                <li>SECOND TIME </li>
                <li>FOUNDERS</li>
              </ul>
              <a href="#">secondtimefounders.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="brand-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>PARTNERS</h2>
          <p>Together we can combine the power of our networks, people, processes, tools and capital as one collective
            committed to shared success and abundance for all.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <img src="images/brand-logo-1.png" alt="brand-logo">
      </div>
    </div>
  </div>
</section>
<section class="faq-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="content">
          <h2>Why is the company called Supernova?</h2>
          <p>One sun sustains all life on planet earth. One Supernova shines 570 billion times brighter than the sun. We
            believe it’s time for solo stars (Founders) to combine our life force energy and shine brighter together
            (Supernova). To unify our superpowers as quantum creators and play as one all-star team for venture
            humanity. Let’s light up the world. </p>

          <h2>What makes Supernova different?</h2>
          <p>We call it oneness at work.™ You allocate on advisory board seat to Supernova! In turn, you get access to
            our all-star community of exited founders and superstars. Beyond being guiding lights now orbiting around
            you, we benefit from our best-in-class services. We are an extension of your team to manifest your dreams in
            hyperspeed. </p>

          <h2>Is Supernova like a VC?</h2>
          <p>No, we are NOT a VC fund. This frees up form unicorn hunting! Instead, we focus on collaboration for real
            innovation. Paradigm shifts in the way we come together as a conscious community to build thriving
            businesses and living masterpieces. Evolving our ethos and ultimately relationships from transactional to
            transformational is a game-changer. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="logo mb-4">
          <img src="images/logo.png" alt="logo">
        </div>
        <span>OUR MISSION: </span>
        <h2 class="mb-sm-5">ONENESS AT WORK</h2>
        <h3>We shine brighter together</h3>
        <p>“The cosmos is within us. We are made of star-stuff. We are a way for the universe to know itself.”
          <span>— CARL SAGAN</span>
        </p>
        <h4>QUICK LINKS</h4>
        <div class="d-flex">
          <ul class="list-unstyled me-3">
            <li><a href="E">Ethos</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Services</a></li>
          </ul>
          <ul class="list-unstyled">
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>

      </div>
      <div class="col-lg-12">
        <div class="copyright-aria">
          <p>© Copyright 2022 Supernova Group. All rights reserved.</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Swiper Slider -->
<!-- <div class="swiper">
  <i class="fa-solid fa-angle-left swiper-prev"></i>
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <i class="fa-solid fa-angle-right swiper-next"></i>
  <div class="swiper-pagination"></div>
</div> -->

{{ end }}